@import "tailwindcss";

@theme{
  --color-background: hsl(var(--background))
}

@layer base{
  :root{
    --background: 0, 0%, 100%;
  }
  
  .dark{
    --background: 222, 47%, 4%;
  }
  
  html{
    @apply scroll-smooth;
  }
  
  body{
    @apply bg-background;
  }
}

#root{
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}